<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="ion-margin-top">
  <ion-button 
    expand="block" 
    color="danger" 
    (click)="onLogout()" 
    class="logout-button"
  >
    <ion-icon slot="start" name="log-out-outline"></ion-icon>
    Cerrar Sesión
  </ion-button>
</div>
  
</ion-content>