/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

/* ----------------------------------------------------------------------
   ESTILO GLOBAL PARA ALERTA DE FECHA SELECCIONADA (Clase: red-alert-text)
   ----------------------------------------------------------------------
*/

.red-alert-text {
  /* Controla el color del botón, el header y el sub-header (propiedad variable de Ionic) */
  color: #c0392b; /* Rojo para encabezados */
}

/* 1. Estilo para el texto del mensaje (donde aparece la fecha) */
/* El selector .alert-message es interno de Ionic y es donde se pone la fecha */
.red-alert-text .alert-message {
  color: #00da00 !important; /* Rojo claro y brillante para el mensaje */
  font-weight: bold; /* Opcional: para que el texto sea más fácil de leer */
  font-size: 1.1em;
}

/* 2. Estilo para el subtítulo, si decides usarlo */
.red-alert-text .alert-sub-title {
  color: #c0392b; /* Rojo oscuro para el subtítulo */
}


