name: Deploy Node.js Azure Function

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  NODE_VERSION: '20'
  PACKAGE_DIRECTORY: './azure-functions'
  AZURE_FUNCTIONAPP_NAME: 'savetosql'

permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: ${{ env.NODE_VERSION }}

    - name: Install dependencies
      working-directory: ${{ env.PACKAGE_DIRECTORY }}
      run: npm install

    - name: Zip package (including node_modules)
      run: |
        cd ${{ env.PACKAGE_DIRECTORY }}
        zip -r ../package.zip .

    - name: Deploy to Azure Functions
      uses: azure/functions-action@v1
      with:
        app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
        package: package.zip
