name: Deploy Node.js Azure Function

on:
  push:
    branches:
      - main

env:
  AZURE_FUNCTIONAPP_NAME: 'savetosql'
  NODE_VERSION: '20.x'
  PACKAGE_DIRECTORY: './azure-functions'

permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: ${{ env.NODE_VERSION }}

    - name: Install dependencies
      working-directory: ${{ env.PACKAGE_DIRECTORY }}
      run: npm install

    - name: Archive Azure Function App
      run: |
        cd ${{ env.PACKAGE_DIRECTORY }}
        zip -r ../app.zip .

    - name: Deploy to Azure Functions
      uses: azure/functions-action@v1
      with:
        app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
        package: app.zip
